<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Page subscription</title>
</head>
<body>
    <form action= "http://localhost:3000/postedmail" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="add-name">
        <label for="mail">Mail</label>
        <input type="mail" name="mail" id="add-mail">
        <button type="submit">subscribe</button>
    </form>
</html>